{% load static %}

<footer>
    <img src="{% static 'image/camara.png' %}" alt="logo footer" width="98">

    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador de logotipos: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador de logotipos: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador de logotipos: Flaticon</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="http://www.instagram.com/">Instagram</a></li>
    </ul>
    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador de logotipos: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador de logotipos: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador de logotipos: Flaticon</a></li>
    </ul>
</footer>