{% extends 'layouts/base.html' %}

{% block titulo %}Inicio{% endblock titulo %}

{% block content %}
    <h1>Bill Gutierrez - Desarrollador</h1>
    <div class="about">
        <img src="http://picsum.photos/300/350" alt="">
        <div class="about-content">
            <h3>Lorem ipsum dolor sit amet, consectet</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, consequatur repudiandae. Similique impedit architecto corrupti saepe omnis labore eos voluptatibus doloribus, vitae fugit sapiente ex nesciunt! Molestias illo voluptatem nobis?</p>
        </div>
    </div>
{% endblock content %}