{% extends 'layouts/base.html' %}


{% block titulo %}Portafolio{% endblock titulo %}

{% block content %}
    <h1>portafolio</h1>
    <div class="photos">
        <img src="http://picsum.photos/300/350" alt="">
        <img src="http://picsum.photos/300/350" alt="">
        <img src="http://picsum.photos/300/350" alt="">
        <img src="http://picsum.photos/300/350" alt="">
        <img src="http://picsum.photos/300/350" alt="">
        <img src="http://picsum.photos/300/350" alt="">
    </div>
{% endblock content %}
