{% extends 'layouts/base.html' %}
{% load static %}

{% block estilo %}
    <link rel="stylesheet" href="{% static 'css/estilos_canciones.css' %}">
{% endblock estilo %}

{% block contents %}
    <div class="container">
        <h1>Canciones</h1>

        <img src="{% static 'images/cancion.jpg' %}" alt="Música" class="welcome-image">

        <p>Explora y agrega nuevas canciones a nuestra colección:</p>

        <div class="form-container">
            {% include 'form/form_canciones.html' %}
        </div>
        
        {% include 'layouts/partials/menu.html' %}
    </div>
{% endblock contents %}