
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

hr {
    border: 1px solid #ccc;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #4285f4;
    transition: color 0.3s;
}

a:hover {
    color: #0d47a1;
}

a.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #555;
}

a.back-link i {
    margin-right: 5px;
}

/* Estilo para el enlace de volver */
a.back-link:hover {
    color: #777;
}

#container h3 {
    font-size: 24px;
    color: #333;
}

#container hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

#container ul {
    list-style: none;
    padding: 0;
}

#container li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#container li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

#container {
    width: 80%;
    margin: 0 auto;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.card a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

#container .back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}