<form action="{% url 'playlist' %}" method="POST">
    {% csrf_token %}
    <label for="nombre_playlist">Nombre de la playlist: </label>
    <input type="text" name="nombre_playlist" placeholder="Ingresa tu nombre de la playlist" style="width: 300px;"><br>
    <label for="nombre_cliente">Nombre cliente: </label>
    <input type="text" name="nombre_cliente" placeholder="Ingresa el nombre del cliente" style="width: 300px;"><br>
    <label for="nombre_cancion">Nombre de la cancion: </label>
    <input type="text" name="nombre_cancion" placeholder="Ingresa el nombre de la cancion" style="width: 300px;"><br>
    <button type="submit">Enviar</button>
</form>